parameters:
	ignoreErrors:
		-
			message: '#^Unsafe call to private method Lenorix\\FilamentAutosave\\AutosaveFieldMap\:\:anyMatching\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 2
			path: src/AutosaveFieldMap.php

		-
			message: '#^Method Lenorix\\FilamentAutosave\\AutosaveFieldRules\:\:applyRules\(\) has parameter \$errors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AutosaveFieldRules.php

		-
			message: '#^Method Lenorix\\FilamentAutosave\\AutosaveFieldRules\:\:enforceOptionRules\(\) has parameter \$errors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AutosaveFieldRules.php

		-
			message: '#^Method Lenorix\\FilamentAutosave\\AutosaveFieldRules\:\:passesOptionRules\(\) has parameter \$rules with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AutosaveFieldRules.php

		-
			message: '#^Variable \$errors on left side of \?\?\= is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/AutosaveFieldRules.php

		-
			message: '#^Offset string on array\{\} on left side of \?\?\= does not exist\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/AutosaveFieldTree.php

		-
			message: '#^Parameter &\$data by\-ref type of method Lenorix\\FilamentAutosave\\AutosaveFieldTree\:\:forget\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: parameterByRef.type
			count: 2
			path: src/AutosaveFieldTree.php

		-
			message: '#^Method Lenorix\\FilamentAutosave\\AutosavePlugin\:\:get\(\) should return static\(Lenorix\\FilamentAutosave\\AutosavePlugin\) but returns Filament\\Contracts\\Plugin\.$#'
			identifier: return.type
			count: 1
			path: src/AutosavePlugin.php

		-
			message: '#^Method Lenorix\\FilamentAutosave\\AutosaveState\:\:hasUploads\(\) has parameter \$value with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AutosaveState.php

		-
			message: '#^Method Lenorix\\FilamentAutosave\\AutosaveState\:\:normalize\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/AutosaveState.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Factory\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/AutosaveStore.php

		-
			message: '#^Trait Lenorix\\FilamentAutosave\\HasAutosave is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/HasAutosave.php

		-
			message: '#^Trait Lenorix\\FilamentAutosave\\HasAutosaveBase is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/HasAutosaveBase.php

		-
			message: '#^Trait Lenorix\\FilamentAutosave\\HasAutosaveForCreate is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/HasAutosaveForCreate.php

		-
			message: '#^Trait Lenorix\\FilamentAutosave\\HasAutosaveForForm is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/HasAutosaveForForm.php

		-
			message: '#^Trait Lenorix\\FilamentAutosave\\HasAutosaveUploads is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/HasAutosaveUploads.php
